$primary-color: #4FD06B;
$text-color-black: #222;
$text-color-gray: #929292;
$text-color-red: #E86868;
$header-radius:  20px 20px 0 0;
$letter-spacing: -0.32px;
$section-margin: 50px;
$top-padding: 30px;
$font-weight-medium: 500;